* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Main-container */
.main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  /* background: rgb(250, 194, 219);
  background: linear-gradient(142deg,
      rgba(250, 194, 219, 1) 0%,
      rgba(144, 237, 217, 1) 100%); */
}

/* Main-container > Navbar */
.navbar {
  background: rgb(239 236 234 / 50%);
  display: flex;
  margin: 2rem 0;
  padding: 0.25rem;
  border-radius: 2rem;
  position: sticky;
  top: 2rem;
  backdrop-filter: blur(0.35rem);
}

.navbar p {
  font-size: 0.9rem;
  letter-spacing: 0.015rem;
  font-weight: 700;
}

.navbar a {
  text-decoration: none;
  color: rgb(83, 78, 78);
  padding: 0.65rem 1.75rem;
}

.navbar>a:hover {
  border-radius: 2rem;
  cursor: pointer;
}

.navbar .selected {
  background-color: white;
  border-radius: 2rem;
  letter-spacing: 0.015rem;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  width: 80%;
  height: 75vh;
  background: rgb(195, 223, 255);
  background: linear-gradient(142deg,
      rgba(195, 223, 255, 1) 0%,
      rgba(255, 238, 245, 1) 100%);
  box-shadow: rgba(94, 94, 94, 0.35) 0px 5px 15px;
}

/* Container > Image */
.photo img {
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  margin: 2.95rem 0 1.5rem 0;
  border: 0.2rem solid white;
  box-shadow: rgba(94, 94, 94, 0.35) 0px 5px 15px;
}

/* Container > Intro */
.intro {
  width: 65%;
  text-align: center;
}

.intro p {
  font-size: 1.5rem;
  word-spacing: 0.25rem;
  line-height: 2.1rem;
}

/* Container > Buttons */
.buttons {
  display: flex;
  width: 40%;
  justify-content: space-around;
  margin-top: 2.5rem;
}

.buttons a {
  text-decoration: none;
}

.buttons p {
  padding: 0.5rem 0.75rem 0.65rem 0.75rem;
  letter-spacing: 0.015rem;
  /* font-size: 1.15rem; */
  border-radius: 2rem;
}

.buttons p:hover {
  border-radius: 2rem;
  cursor: pointer;
}

.contact-btn {
  color: white;
  background-color: black;
}

.resume-btn {
  color: black;
  background-color: white;
}

.linkedin-btn {
  color: black;
  background-color: white;
}

.github-btn {
  color: black;
  background-color: white;
}

/* Mobile-Responsive */
@media (max-width: 480px) {

  /* navbar */
  .navbar {
    margin: 1rem 0;
    position: sticky;
    top: 2rem;
    background-color: rgba(232, 229, 228, 0.5);
  }

  .navbar a {
    padding: 0.65rem 1.5rem;
    color: black;
  }

  .navbar p {
    letter-spacing: 0.01rem;
  }

  .main-container {
    background: rgb(195, 223, 255);
    background: linear-gradient(142deg,
        rgba(195, 223, 255, 1) 0%,
        rgba(255, 238, 245, 1) 100%);
  }

  /* Container */
  .container {
    width: 100%;
    height: 100%;
    /* background: white; */
    background: rgb(195, 223, 255);
    background: linear-gradient(142deg,
        rgba(195, 223, 255, 1) 0%,
        rgba(255, 238, 245, 1) 100%);
    box-shadow: none;
  }

  /* Container > Image */
  .photo img {
    height: 5rem;
    width: 5rem;
    margin: 2.5rem 0 2rem 0;
  }

  /* Container > Intro */
  .intro {
    width: 90%;
  }

  .intro p {
    font-size: 1.25rem;
    word-spacing: 0.2rem;
    line-height: 1.9rem;
  }

  /* Container > Buttons */
  .buttons {
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin-top: 2.5rem;
  }

  .buttons p {
    padding: 0.5rem 0.65rem 0.65rem 0.65rem;
    letter-spacing: 0.01rem;
    font-size: 0.9rem;
    border-radius: 2rem;
  }

  .resume-btn {
    background-color: rgba(232, 229, 228, 0.5);
  }

  .linkedin-btn {
    background-color: rgba(232, 229, 228, 0.5);
  }

  .github-btn {
    background-color: rgba(232, 229, 228, 0.5);
  }

  .buttons p:hover {
    background-color: white;
  }
}